*{
	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: "Comic Neue", cursive;
   font-weight: 400;
 	font-style: normal;
}

header{
	margin-right: 50px;
	background-color: rgba(25, 99, 51, 0.8);
	height: 60px;
	position: fixed;
	width: 100%;
}

nav ul{
	display: flex;
	float: left;
}

.container2 nav ul{
	color: black;
	margin-right: 50px;
	list-style: none;
}
h1{
	margin-top: 30px;
	margin-left: 500px;
	text-decoration: none;
}




#inicio{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("0.jpg");
	height: 200vh;
	background-attachment: fixed;
}

.container{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 200vh;
	color: #fff;

}
.container img{
	margin-top: 200px;
	box-shadow: 20px 20px 20px white;
	border-radius: 50px;
	width: 300px;
	height: 300px;
}

marquee{
	margin-top: -500px;
	width: 1060px;
}
.eme{
	margin-top: 100px;
}





#acerca-de{
	background-image: url("borde.jpg");
	height: 200vh;
	background-size: cover;
	background-attachment: fixed;
}

.container2{
	text-align: center;
	width: 1250px;
	height: 1500px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: cursive;
}
a{
	margin: 0 100px;
	padding: 5px;
	text-align: center;
	display: block;
	text-decoration: none;
	width: 100px;
	color: white;
	justify-content: right;
	flex: 5 ;
}
nav ul{
	list-style: none;
	display: flex;
}
nav ul li{
	margin: 0;
}
}
.transision{
	color: white
	text-align: center;
	text-align: justify;
	float: right;
}
.l a{
	color: black;
	margin-right: 120px;
}
.l{
	background-color: white;
}
.img img{
	width: 300px;
	height: 100px;
	border-radius: 200px;}
.col img{
	width: 300px;
	height: 100px;
	border-radius: 200px;
}
.ele img{
	border-radius: 200px;
    width: 300px;
    height: 100px;
}
  h1{
  	color: white;
  }
  h2{
  	margin-top: -50px;
  	margin-left: 190px;
  	color: white;
  }
  h3{
  	color: black;
  }
  .eme h2{
  	color: yellow;
  }
.img img{
	margin-left: -600px;
	margin-top: 50px;
	height: 300px;
	box-shadow: 20px 20px 20px white;
}
.col img{
	margin-left: -300px;
	margin-top: 100px;
	height: 300px;
	box-shadow: 20px 20px 20px white;
}
.ele img{
	margin-left: -300px;
	margin-top: 100px;
	height: 300px;
	box-shadow: 20px 20px 20px white;
}
.blue-color{
	color: blue;
}
.red-color{
	color: red;
}
.greenyellow-color{
	color: greenyellow;
}
.yellow-color{
	color: yellow;
}




#servicios{
	background-attachment: fixed;
	text-align: center;
	width: 1300px;
	height: 1700px;
	background-image: url("dos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: cursive;
	color: white;
}
.image1 img{
	box-shadow: 20px 20px 20px #cce5ff;
	margin-left: 20px;
	border-radius: 100px;
	margin-top: 50px;
	float: left;
	width: 400px;
	height: 300px;
}
.image2 img{
	box-shadow: 20px 20px 20px #a3ffac;
	margin-right: 30px;
	border-radius: 100px;
	margin-top: 50px;
	float: right;
	width: 400px;
	height: 300px;
}
.image3 img{
	box-shadow: 20px 20px 20px #ffca59;
	margin-left: 20px;
	border-radius: 100px;
	margin-top: 50px;
	float: left;
	width: 400px;
	height: 300px;
}
.image4 img{
	box-shadow: 20px 20px 20px #ffff;
	margin-right: 30px;
	border-radius: 100px;
	margin-top: 50px;
	float: right;
	width: 400px;
	height: 300px;
}
.image5 img{
	box-shadow: 20px 20px 20px #a2c8cc;
	margin-left: 20px;
	border-radius: 100px;
	margin-top: 50px;
	float: left;
	width: 400px;
	height: 300px;
}
.image6 img{
	box-shadow: 20px 20px 20px #339999;
	margin-right: 30px;
	border-radius: 100px;
	margin-top: 50px;
	float: right;
	width: 400px;
	height: 300px;
}
.image7 img{
	box-shadow: 20px 20px 20px #66ff33;
	margin-left: 20px;
	border-radius: 100px;
	margin-top: 50px;
	float: left;
	width: 400px;
	height: 300px;
}
.image8 img{
	box-shadow: 20px 20px 20px #0000cc;
	margin-right: 30px;
	border-radius: 100px;
	margin-top: 50px;
	float: right;
	width: 400px;
	height: 300px;
}




#contacto{
	background-image: url("una.jpg");
	height: 200vh;
	background-attachment: fixed;
}

.container-contact{
	margin-top: -300px;
	text-align: center;
	width: 500px;
	height: 500px;
	border-radius: 6px;
	border: solid 1px white;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	display: flex;
	flex-direction: column;
}

form{
	width: 80%;
	margin: 20px auto;

}
form input{
	width: 80%;
	background-color: rgba(58, 140, 234, 0.4);
	color: #fff;
	padding: 5px 2px;
}

textarea{
	background-color: rgba(58, 140, 234, 0.4);
	color: #fff;
	padding: 5px 2px;
	border-radius: 5px;
	resize: none;
}

form input[type="submit"]{
	width: 100%;
	color: #fff;
	background-color: skyblue;
	padding: 5px auto;
}

form input[type="submit"]:hover{
	cursor: pointer;
	background-color: darkblue;
}

.footer{
	margin-top: 300px;
}
.ocho{
	margin-left: 330px;
}
.olo button{
	margin-top: 100px;
}
button a{
	color: black;
}
marquee{
	margin-top: 100px;
}
strong{
	margin-top: -50px;
}
.imagen img{
	box-shadow: 20px 20px 20px white;
	border-radius: 200px;
}
img:hover{
  transform: scale(1.2);
}
.imagen img{
	margin-top: 100px;
	margin-left: 500px;
}
a{
	margin-right: 90px;
}
.green-color{
	color: green;
}
/*media queries*/

@media (max-width: 400px){
	header ul{
		flex-direction: column;
	}
	.caja{
		width: 120px;
		height: 400px;
	}
	.caja h3{
		margin-top: -10px;
		width: 50px;
	}
	.caja p{
		margin-top: 5px;
		width: 50px;
	}
	.caja button{
		width: 100px;
		height: 70px;
	}
	.cajas2{
		margin-left: 10px;
		width: 400px;
		height: 400px;
	}
	.cajas2 button{
       width: 100px;
       height: 70px;
	}
	.container-contact{
		width: 300px;
		margin-left: 10px;
	}
	textarea{
		width: 250px;
	}
	.ocho{
		margin-left: -100px;
	}
}
